@font-face {
    font-family: 'Kodchasan-Bold';
    src: url(../fonts/Kodchasan/Kodchasan-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Kodchasan-Medium';
    src: url(../fonts/Kodchasan/Kodchasan-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Kodchasan-SemiBold';
    src: url(../fonts/Kodchasan/Kodchasan-SemiBold.ttf) format('truetype');
}